In [1]:
# NOTEBOOK 1: DATA PREPARATION & CLEANING

In [2]:
## 1. Setup - Import Libraries and Mount Google Drive
# Import the necessary libraries
import pandas as pd
import numpy as np

# Mount your Google Drive to access files
from google.colab import drive
drive.mount('/content/drive')

print("Libraries imported and Google Drive mounted successfully.")

Mounted at /content/drive
Libraries imported and Google Drive mounted successfully.

In [3]:
## 2. Load the Dataset
# -----------------------------------------------------------------------------
# Define the path to the raw dataset in your Google Drive
raw_file_path = '/content/drive/MyDrive/Advanced HR Analytics Project/WA_Fn-UseC_-HR-Employee-Attrition.csv'

# Load the CSV file into a pandas DataFrame using a try-except block for error handling
try:
    df = pd.read_csv(raw_file_path)
    print("Dataset loaded successfully.")
    print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")
except FileNotFoundError:
    print(f"Error: The file was not found at '{raw_file_path}'")
    print("Please check the file path and make sure the dataset is uploaded to your Google Drive.")
    df = pd.DataFrame() # Create an empty DataFrame to prevent errors in subsequent cells

Dataset loaded successfully.
The dataset has 1470 rows and 35 columns.

In [6]:
 # Display the first few rows and basic info
print("\nInitial Data Preview:")
display(df.head())

Initial Data Preview:

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [8]:
print("\nInitial Data Info:")
df.info()

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [11]:
## 2. Initial Data Cleaning & Profiling
# Check for missing values
print("\nMissing Values Check:")
print(df.isnull().sum())

Missing Values Check:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [10]:
# Check for duplicate records
print(f"\nNumber of duplicate records: {df.duplicated().sum()}")

Number of duplicate records: 0

In [12]:
# Check the number of unique values in each column
print("\nUnique Value Counts:")
print(df.nunique())

Unique Value Counts:
Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [13]:
# Some columns are constant for all employees and provide no information
# We can drop them.
df = df.drop(columns=['EmployeeCount', 'StandardHours', 'Over18'])
print("\nDropped constant columns: 'EmployeeCount', 'StandardHours', 'Over18'.")

Dropped constant columns: 'EmployeeCount', 'StandardHours', 'Over18'.

In [14]:
 # Standardize column names (e.g., to snake_case for consistency)
df.columns = df.columns.str.lower().str.replace(' ', '_')
print("\nColumn names have been standardized to snake_case format.")
print("New columns:", df.columns.tolist())

Column names have been standardized to snake_case format.
New columns: ['age', 'attrition', 'businesstravel', 'dailyrate', 'department', 'distancefromhome', 'education', 'educationfield', 'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime', 'percentsalaryhike', 'performancerating', 'relationshipsatisfaction', 'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance', 'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion', 'yearswithcurrmanager']

In [15]:
## 3. Feature Engineering
# -----------------------------------------------------------------------------
# Creating new features can often improve model performance and analysis.
if not df.empty:
    # --- 3.1. Tenure Buckets ---
    # Grouping years at the company into meaningful categories
    tenure_bins = [0, 2, 5, 10, 15, 40]
    tenure_labels = ['0-2 years', '3-5 years', '6-10 years', '11-15 years', '15+ years']
    df['tenure_bucket'] = pd.cut(df['yearsatcompany'], bins=tenure_bins, labels=tenure_labels, right=False)

    # --- 3.2. Salary Bands ---
    # Segmenting employees by their monthly income
    df['salary_band'] = pd.qcut(df['monthlyincome'], q=4, labels=['Low', 'Medium', 'High', 'Very High'])

    # --- 3.3. Satisfaction Score ---
    # Create a composite satisfaction score
    # We'll average the scores from environment, job, and relationship satisfaction
    df['composite_satisfaction'] = (df['environmentsatisfaction'] + df['jobsatisfaction'] + df['relationshipsatisfaction']) / 3
    df['composite_satisfaction'] = df['composite_satisfaction'].round(2)

    # --- 3.4. Attrition Flag (for easier calculations) ---
    # Convert the target variable 'attrition' to a binary 0/1 flag
    df['attrition_flag'] = df['attrition'].apply(lambda x: 1 if x == 'Yes' else 0)

    print("\nFeature engineering complete. New columns created:")
    print(" - tenure_bucket")
    print(" - salary_band")
    print(" - composite_satisfaction")
    print(" - attrition_flag")

    print("\nPreview of DataFrame with new features:")
    display(df[['employeenumber', 'yearsatcompany', 'tenure_bucket', 'monthlyincome', 'salary_band', 'composite_satisfaction', 'attrition_flag']].head())

Feature engineering complete. New columns created:
 - tenure_bucket
 - salary_band
 - composite_satisfaction
 - attrition_flag

Preview of DataFrame with new features:

,employeenumber,yearsatcompany,tenure_bucket,monthlyincome,salary_band,composite_satisfaction,attrition_flag
0,1,6,6-10 years,5993,High,2.33,1
1,2,10,11-15 years,5130,High,3.00,0
2,4,0,0-2 years,2090,Low,3.00,1
3,5,8,6-10 years,2909,Low,3.33,0
4,7,2,3-5 years,3468,Medium,2.33,0

In [17]:
output_path = '/content/drive/MyDrive/Advanced HR Analytics Project/cleaned_hr_data.csv'
# Save the dataframe to a new CSV file
df.to_csv(output_path, index=False)
print(f"\nCleaned and prepared data successfully saved to: {output_path}")
print(f"The dataset now has {df.shape[0]} rows and {df.shape[1]} columns.")

Cleaned and prepared data successfully saved to: /content/drive/MyDrive/Advanced HR Analytics Project/cleaned_hr_data.csv
The dataset now has 1470 rows and 36 columns.